@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Caveat', cursive;
}

body {
  background-color: #180513;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.form-container{
  border: 1px solid #FFF;

  padding: 30px;

  min-height: 300px;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.label{
  font-size: 1.5rem;
}

.input-label{
  font-size: 2rem;
  color: #000;
}

