@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 0, 230);
  font-family: "Caveat", cursive;
}

body {
  background-color: #180513;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  height: auto;
}

.form-top-container {
  font-size: 2.5rem;
  font-style: italic;
  text-decoration: underline;
  /* outline: 1px solid #fff; */
  align-self: center;
  justify-self: center;

  /* position:fixed; */
  top: 60px;
}

.form-mid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  min-height: 350px;

  margin: 20px 0px;
}

.form-btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;

  margin-top: 10px;
  margin-bottom: 10px;

  border-radius: 12px;
  border: none;

  transition: 0.4s ease-out;
}

.btn:hover {
  background-color: #ea4fb9;
  color: #590f42;
}

.btn:active {
  background-color: #ebb9db;
}

.btn-container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-addEvent {
  background-color: #882468;
  color: #fff;
}

.btn-clearEvent {
  background-color: #882468;
  color: #fff;
}

.btn-downloadEvent {
  background-color: #882468;
  color: #fff;
}

.form-main-container {
  border: 3px solid #b62f8b;
  border-radius: 12px;

  box-shadow: 0px 5px 5px #590f42;

  padding: 30px;

  min-height: 300px;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 1.5rem;
}

.input-label {
  font-size: 2rem;
  color: #000;
  border-radius: 12px;
  border: none;
  outline: none;
  text-align: center;
  padding: 10px;
  transition: 0.3s ease-out;
}

.input-label:hover {
  outline: solid 3px #ea4fb9;
  box-shadow: 0px 5px 5px #b62f8b;
}

.input-label:focus {
  outline: solid 3px #ea4fb9;
  box-shadow: 0px 5px 5px #b62f8b;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-list-container {
  background-color: #fff;

  font-size: 1.5rem;

  padding: 20px;

  margin: 20px 0px;

  border-radius: 12px;

  min-height: 300px;
  min-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border: none;
  outline: none;
  text-align: center;
  padding: 10px;
  transition: 0.4s ease-out;
}

.event-list-container:hover {
  outline: solid 3px #ea4fb9;
  box-shadow: 0px 5px 5px #b62f8b;
}

.event-list-item {
  padding: 10px;
}
